* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: linear-gradient(135deg, #74ebd5, #ACB6E5); */
    background-image: url('../images/neon-gradient-wallpaper-preview.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
}

.container {
    text-align: center;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1); 
    background-color: #fff;
}
h1 {
    font-size: 25px;
    color: #333;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#guess_num {
    width: 80%;
    border-radius: 10px;
    padding: 15px;
    margin: 20px;
    border: 2px solid #74ebd5;
    font-size: 18px;
    transition: all 0.3s linear;
    outline: none;
}

#guess_num:focus {
    border-color: #ACB6E5;
}

#check , #play_again{
    display: inline-block;
    width: 40%;
    padding: 12px 30px;
    border: none;
    color: white;
    background-image: linear-gradient(to right, #260D9C, #DC6F30);
    font-weight: 700;
    border-radius: 50px;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s linear;
    text-wrap: nowrap;
}


#check:hover, #play_again:hover {
    background-image: linear-gradient(to right, #DC6F30, #260D9C); 
    color: #ffffff; 
}
#msg {
    animation: scale 0.5s ease-in-out;
    font-size: 18px;
    color: red;
    margin: 20px;
}

@keyframes scale {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

#original_num {
    margin: 20px 0;
    color: #0066cc;
    font-size: 20px;
    font-weight: 600;
}

#result {
    font-size: 20px;
    line-height: 30px;
}

#result b {
    font-size: 26px;
    color: #28a745;
}

#result span {
    font-size: 22px;
}

#wining_gif{
    display: none;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

#play_again{
    margin: 20px 0;
    display: none;
    width: 145px;
}